<!DOCTYPE html>
<html>

<head>
  <title> Video Live Stream </title>
</head>

<body>
  <h1>TOP PAGE</h1>
  <button onclick="video_on()">on</button>
  <button onclick="video_off()">off</button>
  <p id="wait"></p>

  <img id="demo" src="" width="500" height="300">


  <script>
    function video_on() {
      document.getElementById("demo").src = "/video";
      document.getElementById("wait").innerHTML = "onにする";
      setTimeout(showText, 3000);

    }
    function showText() {
      document.getElementById("wait").innerHTML = "on中";
    }

    function video_off() {
      document.getElementById("demo").src = "";
      document.getElementById("wait").innerHTML = "offにする";
    }
  </script>
</body>

</html>